body {
    font-family: 'Raleway', sans-serif;
}

#header {
    padding: 0px 200px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: row;
}

.nav-container {
    margin-left: auto;
}

.logo {
    color: #01b3bd;
}

.menu-item {
    margin: 0px 20px;
    list-style: none;
}

.menu-item a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu-item a:hover {
    background-color: #01b3bd;
    color: white;
}

#banner {
    padding: 100px 200px;
    background-color: #01b3bd;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#banner h1,
p {
    color: white;
    line-height: 1.8;
}

#features {
    padding: 100px 200px;
}

#features h1 {
    text-align: center;
    font-weight: bold;
    color: #01b3bd;
}

.images img {
    width: 450px;
    height: 500px;
}

.images {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #656e6d;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 40px 200px;
}

footer li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}

footer h1 {
    font-weight: bold;
}